body{
			margin:0;
			padding:0;
		}
		nav{
			display:flex;
			background-color:#5DADE2;
			height:60px;
			padding:10px;
		}
		img{
			width:100px;
			height:50px;
		}
		ul{
			display:flex;
			list-style:none;
			gap:15px;
			font-size:20px;
			font-family:arial;
			margin-left:40px;
		}
		a{
			text-decoration:none;
			color:black;
		}
		p{
			padding:8px;
		}
		.footer {
  			text-align: center;
  			background-color:#5DADE2;
  			height:40px;
		}

		.overflow{
			display: -webkit-box;
  			-webkit-line-clamp: 19; 
  			height:335px;
  			-webkit-box-orient: vertical;  
  			overflow: hidden; 
		}

		section{
			padding:10px;
		}

		.overflow2{
			display: -webkit-box;
  			-webkit-line-clamp: 3;
  			height:49px;
  			-webkit-box-orient: vertical;  
  			overflow: hidden; 
		}